{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.component.html"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.css"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.scss"],
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
